# Make your own, and rename file to just "server_conf.py"
# 

HTTP_HOST_NAME = "0.0.0.0"
HTTP_PORT_NUMBER = 8080

WEBSOCKET_PORT = 9000

TEAM_LIST = [
    "Team A",
    "Team B",
    "Team C",
    "Team D",
    "Team E",
    "Team F",
]